
<div class="container">
    <div class="row">
        <div class="col-md-12">
                <h1>Burgers</h1>
        </div>
    </div>
         



    <img src="/img/hamburger.png" alt="hamburger">
    <div class="row">
        <div class="uneaten">
            <div class="col-md-6">
                <div class="card" style="width: 18rem;">
                <div class="card-header">
                    Please Eat Me
                </div>
                <ul class="list-group list-group-flush">
                    {{#each burgers}}
                        {{#unless devoured}}
                            {{>buttons/button-block eaten = false }}
                        {{/unless}}
                    {{/each}}     
                </ul>
                </div>                
            </div>
        </div>
        <div class="eaten">
            <div class="col-md-6">
                <div class="card" style="width: 18rem;">
                <div class="card-header">
                    Hope you are satisfied
                </div>
                <ul class="list-group list-group-flush">
                    {{#each burgers}}
                        {{#unless devoured}}
                            {{>buttons/button-block eaten = false }}
                        {{/unless}}
                    {{/each}}     
                </ul>
                </div>                 
            </div>
        </div>

    </div>

    <div class="form">
        <form action="POST">
            <div class="form-group">
                <label for="burger">What burger would you like to eat?</label>
                <textarea class="form-control" id="burger-form" rows="3" name="burger"></textarea>
            </div>
            <button id = "submitBtn" type="submit" class="btn btn-primary">Submit</button>    
        </form>
    </div>


</div>

{{!-- {{>footer}} --}}
