
<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-12">
                    <h1>Burgers</h1>
                    <h1>Burgers</h1>
                    <h1>Burgers</h1>
            </div>
            <video autoplay src="/videos/hamburger.mp4"></video>
             {{!-- <img src="/img/hamburger.png" alt="hamburger"> --}}
        </div>
    </div>
   
    <div class="row">
        <div class="uneaten">
            <div class="col-md-6">
                <h4>Burgers You Haven't Tried</h4>
                    {{#each burgers}}
                        {{#unless devoured}}
                            {{>buttons/button-block eaten = false }}
                        {{/unless}}
                    {{/each}}  
            </div>
        </div>
        <div class="eaten">
            <div class="col-md-6">
                 <h4>Hope You Enjoyed the Burger</h4>               
                    {{#each burgers}}
                        {{#if devoured}}
                            {{>buttons/button-block eaten = true }}
                        {{/if}}
                    {{/each}}                 
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="form">
                <form action="POST">
                    <div class="form-group">
                        <label for="burger">What burger would you like to eat?</label>
                        <textarea class="form-control" id="burger-form" rows="3" name="burger"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="burger-pic">Please provide a link of the burger</label>
                        <input type="text" class="form-control-file" id="burger-pic" name="imageLink">
                    </div>                    
                    <button id = "submitBtn" type="submit" class="btn btn-primary">Submit</button>    
                </form>
            </div>             
        </div>
        <div class="col-md-2"></div>
    </div>
</div>




{{!-- {{>footer}} --}}

               {{!-- <div class="card" style="width: 18rem;">
                <div class="card-header">
                    Hope you are satisfied
                </div>
                <ul class="list-group list-group-flush">
    
                </ul>
                </div>   --}}
