 body{
     background-image: url("/img/burger_background.jpg");
     background-repeat: no-repeat;
     background-size: cover;
 }
 
 .jumbotron {
    position: relative;
    overflow: hidden;
    background-color:black;
  }
  
  .jumbotron video {
    position: absolute;
    z-index: 1;
    top: 0;
    width:100%;
    height:100%;
    /*  object-fit is not supported on IE  */
    object-fit: cover;
    opacity:0.5;
  }


 .form{
    background-color: white;
    border: 2px solid black;
    margin-top: 50px;
}

form{
    padding: 20px;
}

.uneaten, .eaten{
    text-align: center;
    margin-top: 50px;
    width: 50%;
}

.uneaten button{
    background-color: red;
}

.eaten button{
    background-color: blue;
}

.burger-btn{
    margin: 10px;
}

h1{
    text-align: center;
}

img{
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 200px;
}
.image-container{
    background-color: white;
    padding: 10px;
    border: 2px black solid;
    position: relative;
    width: 100%;
    height: 100%;
    height: 200px;
    width: 300px;
    margin: 5px;


}

.image-container button{
    width: 85%;
    position: absolute;
    top: 75%;
    left: 45%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;

}

.image-container img, .image-container img{
    width: 100%;
    height: 100%;
}